PYTHONPATH=.
SYSTEM_VERSION_COMPAT=1
DOCKER_DEFAULT_PLATFORM=linux/amd64

#news api variables
API_KEY = "PASTE YOUR API KEY HERE"
BASE_URL = "https://newsapi.org/v2/"
EVERYTHING_ENDPOINT = "everything"
SOURCES_ENDPOINT = "sources"

#db
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="news"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"